/* Chatbot container */
.chatbot-container {
  width: 1000px;
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  height:90%;
}

/* Header */
.header {
  text-align: center;
  margin-bottom: 20px;
color:#108484;
}

/* Messages container */
.messages-container {
  max-height: 300px;
  overflow-y: auto;
}

/* Individual message */
.message {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  max-width: 70%;
}

.user {
  background-color: #eaf6ff;
  align-self: flex-end; /* Align to the right for user messages */
}

.bot {
  background-color: #f0f0f0;
  align-self: flex-start; /* Align to the left for bot messages */
}

.message-text {
  margin: 0; /* Remove default margin for paragraph */
}

/* Input container */
.input-container {
  display: flex;
  align-items: center;
}

.user-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.send-button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #108484;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.send-button:hover {
  background-color: #186a63;
}
